h2 {
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-control {
  width: 493px;
  height: 71px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
}

button {
  font-family: Roboto;
  font-size: 30.24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 25.200000762939453px;
  width: 493px;
  height: 63px;
  flex-shrink: 0;
}

.btn-register {
  box-shadow: 0px 4px 10px 0px #00000040
}

.btn-login {
  background: #000000;
  box-shadow: 0px 4px 10px 0px #00000040;
  color: #F7FC00;
}