
/******Responsive******/
.bg-color{
  background-color:  #F0F1D3;
  ;
}
@media (max-width: 575.98px){

  .colCenter{
    text-align: center;
  }
  .centerGroup{

    justify-content: center;

  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .sizeColImage{
    height: 450px;
    display: flex;
    align-items: center;
  }
  .sizeImage{
    height: 350px;

  }
}
