<section class="cart-view">
    <div class="container">
        <div class="page-title">
            <h2 class="mb-2 mt-2 text-uppercase">Carrito de compras</h2>
        </div>
        <div class="mt-4">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <!-- Producto 1-->
                            <div class="col-6 card">
                                <div class="row mt-4 mb-4">
                                    <div class="col-1">
                                        <img class="trash-can" src="../../../assets/DELETE.svg" alt="delete">
                                    </div>
                                    <div class="col-2"><img class="img-fluid"
                                            src="../../../assets/Advanced_Whey_Protein.png"></div>
                                    <div class="col-4">
                                        <div class="row">
                                            <p>Advanced whey protein
                                            (1000 gr.) (33 sv.)</p> 
                                            <p>&dollar;9600.00</p> 

                                            <form action="">Cantidad
                                                <select name="producto" id="stock">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Comprabacion de la compra-->

                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Resumen de la compra</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;"></div>
                        <p>Subtotal</p>
                        <div class="col text-right">&euro; 132.00</div>
                    </div>
                    <form>
                        <p>Envio</p>
                        <select>
                            <option class="text-muted">Moto mandado - Solo CABA - &dollar;750.00</option>
                            <option class="text-muted">Correo Argentino - &dollar;1000.00</option>
                            <option class="text-muted">Retiro en sucursal - &dollar;0.00</option>
                        </select>
                    </form>
                    <div class="row mt-4 mb-2" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">Total</div>
                        <div class="col text-right">&dollar; 20700.00</div>
                    </div>
                    <button class="btn-checkout">Finalizar compra</button>
                </div>
            </div>

        </div>

    </div>

</section>