<!--Navbar-->
<app-navbar></app-navbar>

<!--Vista del carrito-->
<section class="cart-view">
  <ng-container *ngIf="products.length != 0">
    <div class="container">
      <div class="page-title">
        <h2>Carrito de compras</h2>
      </div>
      <div class="mt-4">
        <div class="row">
          <div class="col-md-8 cart">
            <div class="row align-items-center">
              <div class="row main justify-content-center">
                <!-- Producto 1-->
                <div class="col-6 card mb-4" *ngFor="let product of products; let i = index">
                  <div class="row mt-4 mb-4">
                    <div class="col-1">
                      <button class="delete" (click)="removeItem(product)">
                        <img
                        class="trash-can"
                        src="../../../assets/DELETE.svg"
                        alt="delete"
                      />
                      </button>
                      
                    </div>
                    <div class="col-2">
                      <img
                        class="product img-fluid"
                        [src]="product.imgList[0].fileUrl"
                        [alt]="product.imgList[0].name"
                      />
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <div class="description">
                          <p>{{ product.name }}</p>
                          <p>&dollar;{{ product.price }}</p>
                          <!-- <p>Cantidad {{product.quantity}}</p>
                          <p>{{product.total}}</p>-->

                         <form>
                            Cantidad
                            <select name="product" id="item" [(ngModel)]="product.stock">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Comprabacion de la compra-->

          <div class="col-md-4 summary">
            <div class="summary-title">Resumen de la compra</div>
            <br />
            <div class="row d-flex">
              <div class="col summary-text">Subtotal</div>
              <div class="col align-items-end">
                <b>&dollar; {{ grandTotal }} </b>
              </div>
            </div>
            <div class="row">
              <div class="col summary-text">Envio</div>
              <div class="col"><b>&dollar; 132.00</b></div>
            </div>

            <!--<form>
                          <div class="col" style="padding-left:0;">Envio</div>
                          <select>
                              <option class="text-muted">Moto mandado - Solo CABA - &dollar;750.00</option>
                              <option class="text-muted">Correo Argentino - &dollar;1000.00</option>
                              <option class="text-muted">Retiro en sucursal - &dollar;0.00</option>
                          </select>
                      </form>-->

            <div
              class="row mt-4 mb-2"
              style="border-top: 2px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
            >
              <div class="col"><b>Total</b></div>
              <div class="col text-right">
                <b>&dollar; {{ plusShipment  }}</b>
              </div>
            </div>
            <button class="btn btn-checkout">Finalizar compra</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="products.length == 0">
    <div class="container mt-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h2 class="empty-cart">No tienes productos en el carrito</h2>
          <p>Agrega productos para continuar</p>
        </div>
        <div class="row d-flex justify-content-center">
          <button routerLink="/home" class="btn btn-checkout">Ir a comprar</button>
        </div>
      </div>
    </div>
  </ng-container>
</section>

<!-- Footer -->
<app-footer></app-footer>
