
<div class="container  body-container d-grid gap-4">
  <div class="row  col-12  h-100  ">
    
    <div class="  image-section ">
     
      <app-carousel></app-carousel>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-12 carousel-section ">
      <app-carousel-sponsor></app-carousel-sponsor>
    </div>
  </div>

  <div class="row ">
    <div class="col-12 top-sellers-section h-100">
      <h2 class="titulos">Top más vendidos</h2>
      <app-carousel-product></app-carousel-product>
    </div>
  </div>

  <div class="row">
    <div class="col-12 promotions-section ">
      <h2 class="titulos">Promociones</h2>
      <div class="promo   ">

        <div class="item card" style="width: 22rem;">
          <div class="circle"><p>20%</p></div>
          <img src="assets/producto5.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto1</h5>
            <p class="card-text">Precio</p>
            <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
          </div>
        </div>
        <div class="item card" style="width: 22rem;">
          <div class="circle"><p>20%</p></div>
          <img src="assets/guante.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto1</h5>
            <p class="card-text">Precio</p>
            <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
          </div>
        </div>
        <div class="item card" style="width: 22rem;">
          <div class="circle"><p>30%</p></div>
          <img src="assets/pantalon.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto1</h5>
            <p class="card-text">Precio</p>
            <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
          </div>
        </div>
      </div>
      
    </div>
  </div> 

</div>
