<div class="container body-container">
  <div class="row">
    <div class="col-12 image-section">
      <app-carousel></app-carousel>
    </div>
  </div>

  <div class="row">
    <div class="col-12 carousel-section">
      <app-carousel-sponsor></app-carousel-sponsor>
    </div>
  </div>

  <div class="row">
    <div class="col-12 top-sellers-section">
      <h2>Lo más vendido</h2>
      <app-carousel-product></app-carousel-product>

    </div>
  </div>

  <div class="row">
    <div class="col-12 promotions-section">
      <h2>Promociones</h2>
      <!-- Aquí puedes agregar el contenido relacionado con las promociones -->
    </div>
  </div>
</div>
