<app-navbar></app-navbar>
<div class="container-fluid bg-dark pb-5">
  <div class="container bg-dark ">
    <h1 class="text-center mt-5 mb-5">Suplementos</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
      <div class="col">
        <div class="card h-100 p-2 border-3 align-items-center">
          <img src="assets/XBODY_Whey_Protein.png" class="card-img-top shadow img-zoom" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card </p>
            <p><span>$7680</span></p>
            <button type="button" class="btn btn-warning">Comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-2 border-3 align-items-center ">
          <img src="assets/producto3.png" class="card-img-top shadow img-zoom" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">Creatina</h4>
            <p class="card-text">Nf nutrition creatinina (300 gr).</p>
            <p><span>$7680</span></p>
            <button type="button" class="btn btn-warning">Comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-2  border-3 align-items-center">
          <img src="assets/producto4.png" class="card-img-top shadow img-zoom " alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with support.</p>
            <p><span>$7680</span></p>
            <button type="button" class="btn btn-warning">Comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-2 border-3 align-items-center">
          <img src="assets/producto5.png" class="card-img-top shadow img-zoom" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text.</p>
            <p><span>$7680</span></p>
            <button type="button" class="btn btn-warning">Comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-2 border-3 align-items-center">
          <img src="assets/producto5.png" class="card-img-top shadow img-zoom" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text.</p>
            <p><span>$7680</span></p>
            <button type="button" class="btn btn-warning">Comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-2 border-3 align-items-center ">
          <img src="assets/producto5.png" class="card-img-top shadow img-zoom " alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text.</p>
            <p><span>$7680</span></p>
            <button type="button" class="btn btn-warning">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
