.circle {
  position: absolute;
  background: linear-gradient(0deg, #fe620b, #fe620b),
    linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: right;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  top: -40px;
  left: 200px;
  z-index: 100;
}
.promo {
  display: flex;
  justify-content: space-evenly;

  /* position: absolute; */
  /* width: 900px; */
  /* margin-right: 100px; */
  /* margin-top: 40px; */
  /* background: blue; */
}

.card-body {
  width: 226px;
  height: 25px;
  top: 88px;
  left: 8px;
  text-align: center;
  background: red;
}
.button-compra {
  width: 225px;
  height: 47px;
  top: 43px;
  left: 21px;
  border-radius: 21px;
  background-color: yellow;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
}
.item {
display: flex;
  margin-right: 350px;
  width: 22rem;
  
  margin-right: 10px;
  background-color: aqua;
  justify-content: center;
}
.card-img {
  width: 200px;
  height: 220px;
  background: #f0f1d3;
}
