<div class="promo   ">

    <div class="item card">
      <div class="circle"><p>20%</p></div>
      <img src="assets/producto5.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
      <div class="card-body">
        <h5 class="card-title">Nombre del producto1</h5>
        <p class="card-text">Precio</p>
        <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
      </div>
    </div>
    <div class="item card" >
      <div class="circle"><p>20%</p></div>
      <img src="assets/guante.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
      <div class="card-body">
        <h5 class="card-title">Nombre del producto1</h5>
        <p class="card-text">Precio</p>
        <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
      </div>
    </div>
    <div class="item card" >
      <div class="circle"><p>30%</p></div>
      <img src="assets/pantalon.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
      <div class="card-body">
        <h5 class="card-title">Nombre del producto1</h5>
        <p class="card-text">Precio</p>
        <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
      </div>
    </div>
  </div>