<footer class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contáctanos</h5>
        <p>1598185445</p>
        <p>01145185445</p>
        <p>contacto@powerfit.com</p>
      </div>
      <div class="col-md-4">
        <h5>Pagos</h5>
        <p>Mercadopago</p>
        <p>Tarjetas de crédito</p>
        <p>Tarjetas de débito</p>
        <p>Transferencia</p>
      </div>
      <div class="col-md-4">
        <h5>Envíos</h5>
        <p>Moto mensajería CABA ($300)</p>
        <p>Envíos a todo el país a través de Mercado Envíos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5>Seguinos</h5>
        <!-- Agrega aquí los enlaces o íconos de las redes sociales -->
      </div>
    </div>
  </div>
</footer>
