<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Contenido del header -->
      <div class="d-flex">
        <!-- Boton colapso -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="../../../assets/Menu.svg" alt="Menu" class="menu"></span>
        </button>
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="../../../assets/Logo_1.png" alt="logo" class="logo-img">
        </a>

        <!-- Barra de busqueda -->
        <form class="d-flex justify-content-center mt-3 mt-lg-0" role="search">
          <input class="form-control me-2 barra-de-busqueda" type="search" placeholder="Buscar" aria-label="Buscar">
        </form>
        <!-- Botones de cuenta y carrito -->
        <div class="d-flex flex-row-reverse">
          <button class="boton btn btn-outline-light boton">
            <img src="../../../assets/mi-cuenta.svg" alt="mi-cuenta" class="icono">
            Mi cuenta
          </button>
          <button class="carrito btn btn-outline-light ml-2">
            <img src="../../../assets/carrito.svg" alt="carrito" class="icono">
          </button>
        </div>
      </div>
    </div>
  </nav>
  <nav>
    <!-- Contenido de la barra de navegación -->
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="#">Suplementos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Equipamiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Indumentaria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Descuentos</a>
        </li>
      </ul>
    </div>
  </nav>


</header>