<div class="header bg-light d-flex align-items-center flex-wrap">
  <img src="ruta-del-logo" alt="Logo de la empresa" class="mr-3" />
  <div class="search-bar ml-auto flex-grow-1">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar..." />
      <div class="input-group-append">
        <button class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </div>
  <div class="ml-auto">
    <div class="d-flex">
      <button class="btn btn-primary account-button">Cuenta</button>
      <button class="btn btn-primary cart-button">Carrito</button>
    </div>
  </div>
</div>
