.marcas {

    width: 1290px;
    height: 223px;
    top: 967px;
    left: -11px;

    padding: 20px;

    background: yellow;
}

.img{
    padding-left: var(--paddLeft);
    padding-right: var(--paddRight);
}

.slider-wrap {
    position: relative;
    overflow: hidden;
    height: 110px;
}

.slider-main {
    display: flex;
    flex-direction: row;

    position: absolute;
    width: 1000%;

    animation: slide 2s linear infinite;
    -webkit-animation: slide 10s linear infinite;
    width: calc(212px*8);
}

.item {
    display: inline-block;
    /* display: flex; */
    width: 312px;
    margin-right: 10px;
    height: 150px;
    position: relative;
    margin: 0;
}


.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
}

.prev {
    position: absolute;
    left: 33px;
    top: 50%;
    background: yellow;
    transform: translate(-50%, -50%);
}

.next {
    position: absolute;
    right: -5px;
    top: 50%;
    background: yellow;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-212px*8));
        transform: translateX(calc(-212px*8));
    }


}

@media screen and (max-width: 380px) {
   

    .slider-wrap {
        position: relative;
        overflow: hidden;
        height: 30px;
    }

    .slider-main {
        position: relative;
        width: 1000%;
        animation: slide 15s forwards alternate ease-in-out;

    }

    .item {
        display: inline-block;
        width: 112px;
        height: 50px;
        background: yellow;
        position: relative;
        margin: 0;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
    }

    .marcas {

        padding: 20px;
        width: 200px;
        height: 51px;
        top: 303px;
        background: yellow;
    }

}

@media (max-width: 575px) {
   

    .slider-wrap {
        position: relative;
        overflow: hidden;
        height: 30px;
    }

    .slider-main {
        position: relative;
        width: 1000%;
        animation: slide 15s forwards alternate ease-in-out;

    }

    .item {
        display: inline-block;
        width: 112px;
        height: 50px;
        background: yellow;
        position: relative;
        margin: 0;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
    }

    .marcas {

        padding: 20px;
        width: 575px;
        height: 100px;
        top: 303px;
        background: yellow;
    }

}

@media (min-width: 575px) and (max-width: 991px) {

    .slider-wrap {
        position: relative;
        overflow: hidden;
        height: 30px;
    }

    .slider-main {
        position: relative;
        width: 1000%;
        animation: slide 15s forwards alternate ease-in-out;

    }

    .item {
        display: inline-block;
        width: 112px;
        height: 50px;
        background: yellow;
        position: relative;
        margin: 0;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
    }

    .marcas {

        padding: 20px;
        width: 700px;
        height: 100px;
        top: 303px;
        background: yellow;
    }

}
@media (min-width: 992px) and (max-width: 1190px) {
    
    .slider-wrap {
        position: relative;
        overflow: hidden;
        height: 30px;
    }

    .slider-main {
        position: relative;
        width: 1000%;
        animation: slide 15s forwards alternate ease-in-out;

    }

    .item {
        display: inline-block;
        width: 112px;
        height: 50px;
        background: yellow;
        position: relative;
        margin: 0;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
    }

    .marcas {

        padding: 20px;
        width: 925px;
        height: 132px;
        top: 303px;
        background: yellow;
    }

  }

  @media (min-width: 1190px) and (max-width: 1373px) {
    
    .slider-wrap {
        position: relative;
        overflow: hidden;
        height: 30px;
    }

    .slider-main {
        position: relative;
        width: 1000%;
        animation: slide 15s forwards alternate ease-in-out;

    }

    .item {
        display: inline-block;
        width: 112px;
        height: 50px;
        background: yellow;
        position: relative;
        margin: 0;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
    }

   
    .marcas {

        width: 1120px;
        height: 123px;
        top: 967px;
        left: -11px;
    
        padding: 20px;
    
        background: yellow;
    }
  }

  @media (min-width: 1373px) and (max-width: 1470px) {
    
    .slider-wrap {
        position: relative;
        overflow: hidden;
        height: 30px;
    }

    .slider-main {
        position: relative;
        width: 1000%;
        animation: slide 15s forwards alternate ease-in-out;

    }

    .item {
        display: inline-block;
        width: 112px;
        height: 50px;
        background: yellow;
        position: relative;
        margin: 0;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
    }

   
    .marcas {

        width: 1300px;
        height: 123px;
        top: 967px;
        left: -11px;
    
        padding: 20px;
    
        background: yellow;
    }
  }

@media screen and( max-width:1500) {
 
    .marcas {

        width: 1220px;
        height: 223px;
        top: 967px;
        left: -11px;
    
        padding: 20px;
    
        background: yellow;
    }
    
}


@media screen and( max-width:1920) {
    .marcas {

        width: 1120px;
        height: 223px;
        top: 967px;
        left: -11px;
    
        padding: 20px;
    
        background: yellow;
    }
}