

<section class="marcas">
  <div class="container-fluid">
    <div class="slider-wrap">
       <div class="slider-main ">
        <div class="item card" style="width: 18rem;">
          <img src="assets/producto1.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto1</h5>
            <p class="card-text">Precio</p>
            <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
          </div>
        </div>
        <div class="item card" style="width: 18rem;">
          <img src="assets/producto5.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto2</h5>
            <p class="card-text">Precio</p>
            <a href="#" class="button-compra btn btn-warning ">Comprar</a>
          </div>
        </div>
        <div class="item card" style="width: 18rem;">
          <img src="assets/producto3.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto3</h5>
            <p class="card-text">Precio</p>
            <a href="#" class="button-compra btn btn-warning ">Comprar</a>
          </div>
        </div>
        <div class="item card" style="width: 18rem;">
          <img src="assets/producto4.png" class="card-img-top img-thumbnail" alt="Nombre del producto">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto4</h5>
            <p class="card-text">Precio</p>
            <a href="#" class="button-compra btn btn-warning ">Comprar</a>
          </div>
        </div>
       </div>
       <div class="button-area">
           <button type="button" class="prev btn btn-light" appPrev><i class="fa-solid fa-angle-left"></i></button>
           <button type="button" class="next btn btn-light" appNext><i class="fa-solid fa-angle-right"></i> </button>
       </div>
    </div>
  </div>
</section>